@model CoffeBeanFlowDB.Models.TrillaItem

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TrillaItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Psegundas" class="control-label"></label>
                <input asp-for="Psegundas" class="form-control" />
                <span asp-validation-for="Psegundas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pmenudos" class="control-label"></label>
                <input asp-for="Pmenudos" class="form-control" />
                <span asp-validation-for="Pmenudos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pinferiores" class="control-label"></label>
                <input asp-for="Pinferiores" class="form-control" />
                <span asp-validation-for="Pinferiores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pmadres" class="control-label"></label>
                <input asp-for="Pmadres" class="form-control" />
                <span asp-validation-for="Pmadres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pprimera" class="control-label"></label>
                <input asp-for="Pprimera" class="form-control" />
                <span asp-validation-for="Pprimera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pcaracolillo" class="control-label"></label>
                <input asp-for="Pcaracolillo" class="form-control" />
                <span asp-validation-for="Pcaracolillo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pescogeduras" class="control-label"></label>
                <input asp-for="Pescogeduras" class="form-control" />
                <span asp-validation-for="Pescogeduras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pbarreduras" class="control-label"></label>
                <input asp-for="Pbarreduras" class="form-control" />
                <span asp-validation-for="Pbarreduras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pcataduras" class="control-label"></label>
                <input asp-for="Pcataduras" class="form-control" />
                <span asp-validation-for="Pcataduras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="POinferiores" class="control-label"></label>
                <input asp-for="POinferiores" class="form-control" />
                <span asp-validation-for="POinferiores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RTeoricoSeleccion" class="control-label"></label>
                <input asp-for="RTeoricoSeleccion" class="form-control" />
                <span asp-validation-for="RTeoricoSeleccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RTeoricoPelado" class="control-label"></label>
                <input asp-for="RTeoricoPelado" class="form-control" />
                <span asp-validation-for="RTeoricoPelado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RfinalPelado" class="control-label"></label>
                <input asp-for="RfinalPelado" class="form-control" />
                <span asp-validation-for="RfinalPelado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RfinalSeleccion" class="control-label"></label>
                <input asp-for="RfinalSeleccion" class="form-control" />
                <span asp-validation-for="RfinalSeleccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WVerdeFinal" class="control-label"></label>
                <input asp-for="WVerdeFinal" class="form-control" />
                <span asp-validation-for="WVerdeFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WVerdeTeorico" class="control-label"></label>
                <input asp-for="WVerdeTeorico" class="form-control" />
                <span asp-validation-for="WVerdeTeorico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FFinalReposo" class="control-label"></label>
                <input asp-for="FFinalReposo" class="form-control" />
                <span asp-validation-for="FFinalReposo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HFinal" class="control-label"></label>
                <input asp-for="HFinal" class="form-control" />
                <span asp-validation-for="HFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HInicial" class="control-label"></label>
                <input asp-for="HInicial" class="form-control" />
                <span asp-validation-for="HInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nlote" class="control-label"></label>
                <input asp-for="Nlote" class="form-control" />
                <span asp-validation-for="Nlote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
