@model CoffeBeanFlowDB.Models.PesoVerdeItem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PesoVerdeItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_PesoVerde" />
            <div class="form-group">
                <label asp-for="Winferiores" class="control-label"></label>
                <input asp-for="Winferiores" class="form-control" />
                <span asp-validation-for="Winferiores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wfinal" class="control-label"></label>
                <input asp-for="Wfinal" class="form-control" />
                <span asp-validation-for="Wfinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WFinferior" class="control-label"></label>
                <input asp-for="WFinferior" class="form-control" />
                <span asp-validation-for="WFinferior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_PesoTrilla" class="control-label"></label>
                <input asp-for="ID_PesoTrilla" class="form-control" />
                <span asp-validation-for="ID_PesoTrilla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
