@model CoffeBeanFlowDB.Models.RondasItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RondasItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_calidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_calidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_catacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_catacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_Rondas">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
